<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Weverson83_Banner::banner" title="Banner" translate="title" module="Weverson83_Banner" sortOrder="90" parent="Magento_Backend::content_elements" action="banner" resource="Weverson83_Banner::banner"/>
    </menu>
</config>

